* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}
.App {
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* content */
.content {
  border-radius: 48px;
  border-radius: 48px;
  background: #ffffff;
  box-shadow: inset 22px 22px 52px #e8e8e8, inset -22px -22px 52px #ffffff;
  margin: 1rem;
  width: 50%;
  h2 {
    text-align: center;
    margin: 1rem 0;
  }
  .form {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;

    input[type="text"] {
      height: 2rem;
      padding: 0.5rem;
    }
    input[type="submit"] {
      border: none;
      text-decoration: none;
      padding: 0.5rem;
      border-radius: 48px;
      background: #ffffff;
      box-shadow: 22px 22px 52px #e8e8e8, -22px -22px 52px #ffffff;
    }
  }
  .todolist {
    margin: 0.5rem auto;
    width: 50%;
    text-align: center;

    .todo {
      margin: 1rem 0;
      border-radius: 2px;
      background: rgb(138, 138, 138);
    }
  }
}

/* content */
